html {
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    position: fixed;
    width: 80%;
    background-color: #4CAF50;
    top: 0;
    z-index: 10;
}

.container {
    width: 100%;
    min-height: 790px;
    display: flex;
}

.trai {
    width: 30%;
}

.phai {
    padding-left: 17px;
    width: 80%;
}

.footer {
    width: 80%;
    background-color: #4CAF50;
    position: fixed;
    bottom: 0;
}