html {
    padding: 0;
    margin: 0;
    width: 100%;
}

.adheader {
    position: fixed;
    height: 100%;
    width: 20%;
    background-color: pink;
    left: 0;
    top: 0;
}

.adcontainer {
    margin-left: 20%;
    width: 80%;
    background-color: yellow;
}

.adheader a {
    text-decoration: none;
}